.accordionContainer {
  min-width: 100%;
  margin: 0;
}

.p2 {
  color: #000000;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-weight: bolder;
  background-color: turquoise;
}

.p2:hover {
  background-color: lightblue;
}
